@font-face {
    font-family: 'Brygada 1918';
    src: url('./Brygada1918-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Brygada 1918';
    src: url('./Brygada1918-Medium.ttf') format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Brygada 1918';
    src: url('./Brygada1918-SemiBold.ttf') format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Brygada 1918';
    src: url('./Brygada1918-Bold.ttf') format("truetype");
    font-weight: 700;
    font-style: normal;
}